.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.living-room {
  top: 50px;
}

.link {
  text-decoration: none;
  color: aliceblue;
}

.main-container {
  margin: 1em;
  
}

.details {
	display: inline-block;
  margin-left: 10px;
}
.info {
	font-weight: bold;
  font-size: 18px;
}
.profile-picture {
	width: 100px;
}